body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #2c3454;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    max-width: min-content;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: center;
    margin-top: 18vh;
}

.sidebar-menu li {
    margin: 0 auto;
    width: 50%;
}

.sidebar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    display: block;
    border: 1px solid #ffffff00;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu-toggle {
    cursor: pointer;
}

.user-profile {
    font-weight: bold;
}

/* Add this at the end of styles.css */

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed .logo {
    display: none;
}

.sidebar.collapsed .sidebar-menu a {
    display: none;
}

.main-content {
    transition: margin-left 0.3s;
}

.sidebar.collapsed + .main-content {
    margin-left: 80px;
}

/* sidebar 动效 */

.sidebar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 8px;
    transition: background-color 0.3s;
}

/* 当鼠标移动到该元素时 */
.sidebar-menu li:hover {
    border-bottom: 4px solid rgba(249, 177, 122, 0.717);
    color: #fff;
}

/* 当点击该元素时 */
.sidebar-menu li.active {
    border-bottom: 4px solid rgb(249, 177, 122);
    color: #fff;
}

.hidden {
    display: none;
}

.page-content {
    margin-top: 20px;
}


