#main-chart {
    width: 125vh;
    height: 52vh;
    padding: 3.3em 3em 1em;
    position: absolute;
    margin: 20px 1em 1em;
    border-radius: 30px;
    background: #fafafa;
    box-shadow: 2px 2px 5px #bebebe,
    -2px -2px 5px #ffffff;
}

#warnning-cards {
    width: 125vh;
    height: 23vh;
    position: absolute;
    bottom: 25px;
    margin: 20px 1em 1em;
    display: flex;
    flex-direction: row; /* 将元素水平排列 */
}