<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<!--dashboard 界面的折线图-->
<div id="main-chart" th:fragment="main_chart">
    <script type="text/javascript">
        // 提取数据
        function extractValueFromDates(data, field) {
            return data.map(obj => {
                // 如果提取time字段，就对其处理
                if (field === "date") {
                    const dateTime = new Date(obj[field]);
                    return dateTime.toLocaleTimeString('en-US', {hour12: false, hour: '2-digit', minute: '2-digit'});
                }
                // 提取其他字段
                return obj[field];
            });
        }

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main-chart'));
        // 显示标题，图例和空的坐标轴
        myChart.setOption({
            title: {
                text: '一小时内温湿度情况'
            },
            tooltip: {},
            legend: {
                data: ['温度', '湿度','光照']
            },
            xAxis: {
                data: [1, 2, 3, 4, 5]
            },
            yAxis: {},
            series: [
                {
                    name: '温度',
                    type: 'line',
                    data: []
                },
                {
                    name: '湿度',
                    type: 'line',
                    data: []
                },{
                    name: '光照',
                    type: 'line',
                    data: []
                }]
        });


        // 数据获取
        fetch("/api/getListData", {
            method: 'POST'
        })
            .then(response => {
                response.json().then(data => {
                    // 异步加载数据
                    myChart.setOption({
                        title: {
                            text: '一小时内温湿度情况'
                        },
                        tooltip: {},
                        legend: {
                            data: ['温度', '湿度','光照']
                        },
                        xAxis: {
                            data: extractValueFromDates(data, 'date')
                        },
                        yAxis: [
                            {
                                name: '温度 (℃)', // 温度单位
                            },
                            {
                                name: '湿度 (%)', // 湿度单位
                            },
                            {
                                name: '光照 (流明)',
                                offset: 60
                            }
                        ],
                        series: [
                            {
                                name: '温度',
                                type: 'line',
                                yAxisIndex: 0, // 使用第一个y轴
                                data: extractValueFromDates(data, "temp")
                            },
                            {
                                name: '湿度',
                                type: 'line',
                                yAxisIndex: 1, // 使用第二个y轴
                                data: extractValueFromDates(data, "humi")
                            },
                            {
                                name: '光照',
                                type: 'line',
                                yAxisIndex: 2, // 使用第三个y轴
                                data: extractValueFromDates(data, "light")
                            }
                        ]
                    });
                })
            })
            .catch(error => {
                // 处理请求错误
                console.log('请求错误:', error);
            });




    </script>
</div>

</html>