<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.name}+ 的管理面板">管理面板</title>
    <link rel="icon" type="image/x-icon" href="../static/css/asset/favicon.ico" th:href="@{css/asset/favicon.ico}"/>
    <link rel="stylesheet" href="../static/css/index/basic.css" th:href="@{css/index/basic.css}">
    <link rel="stylesheet" href="../static/css/index/user_list.css" th:href="@{css/index/user_list.css}">
    <link rel="stylesheet" href="../static/css/show_message.css" th:href="@{css/show_message.css}">
    <link rel="stylesheet" href="../static/css/index/settingList.css" th:href="@{css/index/settingList.css}">
    <!-- 卡片样式-->
    <link rel="stylesheet" href="../static/css/index/music-card.css" th:href="@{css/index/music-card.css}">
    <link rel="stylesheet" href="../static/css/index/weather-card.css" th:href="@{css/index/weather-card.css}">
    <link rel="stylesheet" href="../static/css/index/dashboard.css" th:href="@{css/index/dashboard.css}">

    <!--用于生成弹窗的样式-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha384-..." crossorigin="anonymous">

    <!-- echart.js 引入 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
</head>

<body>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <img src="../static/css/asset/logo.png" th:src="@{css/asset/logo.png}" alt="logo" width="200px">
        </div>
        <ul class="sidebar-menu">
            <li><a href="#dashboard" id="dashboard">总览面板</a></li>
            <li><a href="#list" id="list">家具管理</a></li>
            <li><a href="#users" id="users">用户管理</a></li>
            <li><a href="#settings" id="settings">设置</a></li>
            <!-- Add more menu items as needed -->
        </ul>

        <div class="logout">
            <img src="../static/css/asset/logout.png" th:src="@{css/asset/logout.png}" alt="logo" width="50px">
        </div>
    </aside>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Top Navigation -->
        <header class="top-nav">
            <div class="menu-toggle">&#9776; Menu</div>
            <div class="user-profile" th:text="'当前用户：'+${user.name}">Username</div>
        </header>

        <!-- dashboard 界面 -->
        <div th:replace="~{dashboard::dashboard}"> dashboard 页面替换div，替换文件：dashboard.html</div>

        <!-- List 界面 -->
        <div th:replace="~{list::list}"> list 页面替换div，替换文件：list.html</div>

        <!-- User 页面 -->
        <div th:replace="~{users::users}"> users 页面替换div，替换文件：users.html</div>

        <!-- setting 界面-->
        <div th:replace="~{settings::settings}"> settings 页面替换div，替换文件：settings.html</div>
    </div>
</div>

<!-- 消息弹窗 -->
<section>
    <span class="overlay"></span>
    <div class="modal-box">
        <i class="far fa-times-circle" id="icon"></i>
        <h2 id="message_title">Wrong!!!</h2>
        <h3 id="message">一个应该在 js 中被替换的消息信息</h3>
        <div class="buttons">
            <button class="blue-btn">关闭</button>
        </div>
    </div>
</section>

<!-- 前端 JS 代码引入-->
<script type="module" src="../static/js/module.js" th:src="@{js/module.js}"></script>
<script type="module" src="../static/js/index/index_view.js" th:src="@{js/index/index_view.js}"></script>
<script type="module" src="../static/js/index/weather_card.js" th:src="@{js/index/weather_card.js}"></script>
<script type="module" src="../static/js/index/setting_view.js" th:src="@{js/index/setting_view.js}"></script>
</body>
</html>