<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<div class="page-content" id="list-content" th:fragment="list">
    <!-- 局部样式引入 -->
    <link href="../static/css/index/list.css" rel="stylesheet" th:href="@{css/index/list.css}">

    <h2>智能家居列表</h2>
    <div id="furnitures-lst">
        <!-- 空调 -->
        <div class="furniture-item" th:each="airConditioner : ${airConditioners}">
            <p class="furniture-title" th:text="${airConditioner.Fname}">空调</p>
            <p class="furniture-id" th:text="${airConditioner.Fid}">1</p>
            <!-- 操作按钮 -->
            <svg class="handle-btn" height="200" p-id="1507" version="1.1"
                 viewBox="0 0 1024 1024" width="200" x="1701763328709" xmlns="http://www.w3.org/2000/svg">
                <path d="M147.01175 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C228.121046 467.194538 191.804932 430.890704 147.01175 430.890704zM511.999488 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C593.108784 467.194538 556.791647 430.890704 511.999488 430.890704zM876.987227 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273s81.108273-36.329417 81.108273-81.108273C958.094476 467.194538 921.778362 430.890704 876.987227 430.890704z"
                      p-id="1508"></path>
            </svg>
            <div class="detail-content">
                <img alt="家具图片" class="furniture-pic" src="../static/css/asset/frniture/AirConditioner.png"
                     th:src="@{css/asset/frniture/AirConditioner.png}">
                <!-- 详细数据展示 -->
                <div class="detail">
                    <th th:switch="${airConditioner.Statue}">
                        <p th:case="0">当前状态：<span style="color: #43a047;" th:data-state="0">运行中</span></p>
                        <p th:case="1">当前状态：<span style="color: #000000;" th:data-state="1">待机</span></p>
                        <p th:case="2">当前状态：<span style="color: #fc8073;" th:data-state="2">异常</span></p>
                    </th>
                    <p class="detail-property" th:text="'所在房间：' + ${airConditioner.RoomName}">所在房间：</p>
                    <p class="detail-property" th:text="'当前功率：' + ${airConditioner.Power}">当前功率：</p>
                    <p class="detail-property" th:text="'当前风速：' + ${airConditioner.WSpeed}">当前风速：</p>
                    <p class="detail-property" th:text="'自动降温阈值：' + ${airConditioner.MaxTemp}">自动降温阈值</p>
                    <p class="detail-property" th:text="'自动升温阈值：' + ${airConditioner.MinTemp}">自动升温阈值</p>
                </div>
            </div>
        </div>

        <!-- 冰箱 -->
        <div class="furniture-item" th:each="Refrigerator : ${Refrigerators}">
            <p class="furniture-title" th:text="${Refrigerator.Fname}">冰箱</p>
            <p class="furniture-id" th:text="${Refrigerator.Fid}">1</p>
            <!-- 操作按钮 -->
            <svg class="handle-btn" height="200" p-id="1507" version="1.1"
                 viewBox="0 0 1024 1024" width="200" x="1701763328709" xmlns="http://www.w3.org/2000/svg">
                <path d="M147.01175 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C228.121046 467.194538 191.804932 430.890704 147.01175 430.890704zM511.999488 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C593.108784 467.194538 556.791647 430.890704 511.999488 430.890704zM876.987227 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273s81.108273-36.329417 81.108273-81.108273C958.094476 467.194538 921.778362 430.890704 876.987227 430.890704z"
                      p-id="1508"></path>
            </svg>
            <div class="detail-content">
                <img alt="家具图片" class="furniture-pic" src="../static/css/asset/frniture/AirConditioner.png"
                     th:src="@{css/asset/frniture/refrigerator.png}">
                <!-- 详细数据展示 -->
                <div class="detail">
                    <th th:switch="${Refrigerator.Statue}">
                        <p th:case="0">当前状态：<span style="color: #43a047;" th:data-state="0">运行中</span></p>
                        <p th:case="1">当前状态：<span style="color: #000000;" th:data-state="1">待机</span></p>
                        <p th:case="2">当前状态：<span style="color: #fc8073;" th:data-state="2">异常</span></p>
                    </th>
                    <p class="detail-property" th:text="'所在房间：' + ${Refrigerator.RoomName}">所在房间：</p>
                    <p class="detail-property" th:text="'当前功率：' + ${Refrigerator.Power}">当前功率：</p>
                    <p class="detail-property" th:text="'制冷阈值：' + ${Refrigerator.RefrigerationThreshold}">制冷阈值：</p>
                    <p class="detail-property" th:text="'冷冻阈值：' + ${Refrigerator.FrozenThreshold}">冷冻阈值</p>
                </div>
            </div>
        </div>

        <!-- 加湿器 -->
        <div class="furniture-item" th:each="Humidifier : ${Humidifiers}">
            <p class="furniture-title" th:text="${Humidifier.Fname}">加湿器</p>
            <p class="furniture-id" th:text="${Humidifier.Fid}">Fid</p>
            <!-- 操作按钮 -->
            <svg class="handle-btn" height="200" p-id="1507" version="1.1"
                 viewBox="0 0 1024 1024" width="200" x="1701763328709" xmlns="http://www.w3.org/2000/svg">
                <path d="M147.01175 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C228.121046 467.194538 191.804932 430.890704 147.01175 430.890704zM511.999488 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C593.108784 467.194538 556.791647 430.890704 511.999488 430.890704zM876.987227 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273s81.108273-36.329417 81.108273-81.108273C958.094476 467.194538 921.778362 430.890704 876.987227 430.890704z"
                      p-id="1508"></path>
            </svg>
            <div class="detail-content">
                <img alt="家具图片" class="furniture-pic" src="../static/css/asset/frniture/AirConditioner.png"
                     th:src="@{css/asset/frniture/Humidifier.png}">
                <!-- 详细数据展示 -->
                <div class="detail">
                    <th th:switch="${Humidifier.Statue}">
                        <p th:case="0">当前状态：<span style="color: #43a047;" th:data-state="0">运行中</span></p>
                        <p th:case="1">当前状态：<span style="color: #000000;" th:data-state="1">待机</span></p>
                        <p th:case="2">当前状态：<span style="color: #fc8073;" th:data-state="2">异常</span></p>
                    </th>
                    <p class="detail-property" th:text="'所在房间：' + ${Humidifier.RoomName}">所在房间：</p>
                    <p class="detail-property" th:text="'当前功率：' + ${Humidifier.Power}">当前功率：</p>
                    <p class="detail-property" th:text="'当前湿度：' + ${Humidifier.Humi}">当前湿度：</p>
                    <p class="detail-property" th:text="'开启阈值：' + ${Humidifier.Threshold}">开启阈值：</p>
                </div>
            </div>
        </div>

        <!-- 窗帘 -->
        <div class="furniture-item" th:each="Curtain : ${Curtains}">
            <p class="furniture-title" th:text="${Curtain.Fname}">加湿器</p>
            <p class="furniture-id" th:text="${Curtain.Fid}">1</p>
            <!-- 操作按钮 -->
            <svg class="handle-btn" height="200" p-id="1507" version="1.1"
                 viewBox="0 0 1024 1024" width="200" x="1701763328709" xmlns="http://www.w3.org/2000/svg">
                <path d="M147.01175 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C228.121046 467.194538 191.804932 430.890704 147.01175 430.890704zM511.999488 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273 44.792159 0 81.109296-36.329417 81.109296-81.108273C593.108784 467.194538 556.791647 430.890704 511.999488 430.890704zM876.987227 430.890704c-44.791136 0-81.108273 36.303834-81.108273 81.109296 0 44.778856 36.316114 81.108273 81.108273 81.108273s81.108273-36.329417 81.108273-81.108273C958.094476 467.194538 921.778362 430.890704 876.987227 430.890704z"
                      p-id="1508"></path>
            </svg>
            <div class="detail-content">
                <img alt="家具图片" class="furniture-pic" src="../static/css/asset/frniture/AirConditioner.png"
                     th:src="@{css/asset/frniture/curtain.png}">
                <!-- 详细数据展示 -->
                <div class="detail">
                    <th th:switch="${Curtain.Statue}">
                        <p th:case="0">当前状态：<span style="color: #43a047;" th:data-state="0">运行中</span></p>
                        <p th:case="1">当前状态：<span style="color: #000000;" th:data-state="1">待机</span></p>
                        <p th:case="2">当前状态：<span style="color: #fc8073;" th:data-state="2">异常</span></p>
                    </th>
                    <p class="detail-property" th:text="'所在房间：' + ${Curtain.RoomName}">所在房间：</p>
                    <p class="detail-property" th:text="'当前功率：' + ${Curtain.Power}">当前功率：</p>
                    <p class="detail-property" th:text="'自动开关阈值：' + ${Curtain.Threshold}">自动开关阈值：</p>
                </div>
            </div>
        </div>

    </div>

    <!-- 弹出菜单栏 -->
    <div class="contextmenu-mask" style="display: none;"></div>
    <div class="contextmenu-content">
        <div class="contextmenu-list">
            <div id="editName">修改名称</div>
            <div id="switchState">切换状态</div>
            <div id="editRule">规则修改</div>
            <div id="removeFurniture">删除设备</div>
            <div id="moveFurniture">移动设备</div>
        </div>
    </div>

    <!-- 弹出编辑家居名称窗口 -->
    <link href="../static/css/index/editNameWindow.css" rel="stylesheet" th:href="@{css/index/editNameWindow.css}">
    <div id="editNameWindow">
        <p>将 1 的名称修改为：</p>
        <label for="editNameInput">
            <input id="editNameInput" placeholder="请输入新的家居名称~" type="text">
        </label>
        <div class="buttons">
            <button class="close-btn" id="editNameBtn">提交</button>
        </div>
    </div>

    <!-- 弹出切换 -->

    <script src="../static/js/index/contextmenu.js" th:src="@{js/index/contextmenu.js}" type="module"></script>

</div>

</html>