<!doctype html>
<!--suppress HtmlFormInputWithoutLabel -->
<html lang='ch' xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta charset="UTF-8">
    <title th:text="请先登录呀">请登录</title>
    <link rel="icon" type="image/x-icon" href="../static/css/asset/favicon.ico" th:href="@{css/asset/favicon.ico}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login/style.css" th:href="@{css/login/style.css}">
    <link rel="stylesheet" href="../static/css/show_message.css" th:href="@{css/show_message.css}">
    <!--用于生成弹窗的样式-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha384-..." crossorigin="anonymous">
    <!-- md5 计算-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
</head>

<body>
<div class="box">
    <div class="forms">
        <!--模式选择按钮-->
        <div class="tips">
            <span class="login-btn">login</span>
            <span class="register-btn">register</span>
        </div>

        <!--        登录界面-->
        <div class="login">
            <div class="form-title">
                <h1>Hello</h1>
                <h4>One click triple connection</h4>
            </div>
            <div class="form">
                <div class="username input-item">
                    <input type="text" class="uname" id="login_uname">
                </div>
                <div class="password input-item">
                    <input type="password" class="passwd" id="login_passwd">
                </div>
                <div class="other-select">
                    <div class="rem-pwd">
                        <input type="checkbox" id="check">
                        <label for="check" class="rem-pwd-tips">remember password</label>
                    </div>
                    <span class="fogot-pwd-btn">forgot password</span>
                </div>
                <button class="btn" id="login_btn">Login</button>
            </div>
        </div>

        <!--        注册界面-->
        <div class="register">
            <div class="form-title">
                <h1>Register</h1>
                <h4>One click triple connection</h4>
            </div>
            <div class="form">
                <div class="username input-item">
                    <label>
                        <input type="text" class="uname" id="register_uname">
                    </label>
                </div>
                <div class="password input-item">
                    <input type="password" class="passwd" id="register_passwd">
                </div>
                <div class="conform-password input-item">
                    <input type="password" class="ipts" id="register_con_passwd">
                </div>
                <button class="btn" id="register_btn">Register</button>
            </div>
        </div>

        <!--        忘记密码界面-->
        <div class="fogot-pwd">
            <div class="form-title">
                <h1>fogot-pwd</h1>
                <h4>One click triple connection</h4>
            </div>
            <div class="form">
                <div class="username input-item">
                    <input type="text" class="ipts">
                </div>
                <div class="password input-item">
                    <input type="password" class="ipts">
                </div>
                <div class="code input-item">
                    <input type="text" class="ipts">
                    <span class="veri-code-tips">Click To Get</span>
                </div>
                <button class="btn" id="foget_btn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!--        密码错误弹窗-->
<section>
    <span class="overlay"></span>

    <div class="modal-box">
        <i class="far fa-times-circle" id="icon"></i>
        <h2 id="message_title">Wrong!!!</h2>
        <h3 id="message">一个应该在 js 中被替换的消息信息</h3>

        <div class="buttons">
            <button class="close-btn">Close</button>
        </div>
    </div>
</section>

</body>

<!--引入 js 代码-->
<script type="module" src="../static/js/module.js" th:src="@{js/module.js}"></script>
<script type="module" src="../static/js/login/show_message.js" th:src="@{js/login/show_message.js}"></script>
<script type="module" src="../static/js/login/login.js" th:src="@{js/login/login.js}"></script>
<script type="module" src="../static/js/login/register.js" th:src="@{js/login/register.js}"></script>
<script type="module" src="../static/js/login/login_view.js" th:src="@{js/login/login_view.js}"></script>
<script type="module" src="../static/js/login/forget_passwd.js" th:src="@{js/login/forget_passwd.js}"></script>
</html>